/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.slider-container {
  width: 50%;
}

.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  align-items: center;
  padding: 40px;
}
